<div class="max-1200">
  <div class="row">
    <div class="col-md-4">
      <%= link_to 'Back', course_modul_lesson_path(@course, @modul, @lesson), class: 'btn btn-dark mb-3' %>
      <div class="card">
        <div class="card-header">
          <h6 class='card-title mb-0'>Editar clase</h6>
        </div>
        <div class="card-body">
          <%= render 'form' %>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="mb-3">
        <%= form_with(model: [@course, @modul, @lesson, @section, @element], html: { class: 'float-left mr-1' }) do |form| %>
          <%= form.hidden_field :element_type, value: 'paragraph' %>
          <%= form.hidden_field :video, value: nil %>
          <%= button_tag(type: 'submit', class: 'btn btn-secondary') do %>
            <i class="fas fa-paragraph"></i>
          <% end %>
        <% end %>
        <%= form_with(model: [@course, @modul, @lesson, @section, @element], html: { class: 'float-left mr-1' }) do |form| %>
          <%= form.hidden_field :element_type, value: 'image' %>
          <%= form.hidden_field :video, value: nil %>
          <%= button_tag(type: 'submit', class: 'btn btn-secondary') do %>
            <i class="fas fa-image"></i>
          <% end %>
        <% end %>
        <%= form_with(model: [@course, @modul, @lesson, @section, @element]) do |form| %>
          <%= form.hidden_field :element_type, value: 'video-embed' %>
          <%= button_tag(type: 'submit', class: 'btn btn-secondary') do %>
            <i class="fas fa-video"></i>
          <% end %>
        <% end %>
      </div>
      <div class="card mb-5">
        <div class="card-body pt-5">
          <% @section.elements.each do |element| %>
            <% if element.persisted? %>
              <% if element.paragraph? %>
                <div class="mb-3 p-3 paragraph">4git 
                  <div class="paragraph-content">
                    <% if element.content.present?%>
                      <%= element.content %>
                    <% else %>
                      Click to add content.
                    <% end %>
                  </div>
                  <div class="paragraph-form d-none">
                    <%= form_with(model: [@course, @modul, @lesson, @section, element]) do |f| %>
                      <%= f.rich_text_area :content %>
                      <div class="mt-3">
                        <%= f.submit "Guardar", class: "btn btn-primary" %>
                        <a href="#" class="cancel btn btn-secondary">Cancelar</a>
                      </div>
                      <%= link_to course_modul_lesson_section_element_path(@course, @modul, @lesson, @section, element), method: :delete, class: 'delete-btn btn btn-dark mt-2 float-right', data: { confirm: "¿Deseas eliminar el texto?" } do %>
                        <i class='fas fa-times'></i>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              <% elsif element.image? %>
                <div class="mb-4 p-3 image">
                  <% if element.image.present? %>
                    <%= link_to course_modul_lesson_section_element_path(@course, @modul, @lesson, @section, element), method: :delete, class: 'delete-btn btn btn-dark mt-2 float-right', data: { confirm: "¿Deseas eliminar la imágen?" } do %>
                      <i class='fas fa-times'></i>
                    <% end %>
                    <%= image_tag(element.image) %>
                  <% else %>
                    <%= form_with(model: [@course, @modul, @lesson, @section, element]) do |form| %>
                      <%= form.file_field :image %>
                      <div class="mt-3">
                        <%= form.submit "Guardar", class: 'btn btn-primary' %>
                        <a href="#" class='cancel btn btn-secondary'>Cancelar</a>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              <% else element.video? %>
                <div class="mb-4 p-3 video">
                  <% if element.video.present? %>
                    <%= link_to course_modul_lesson_section_element_path(@course, @modul, @lesson, @section, element), method: :delete, class: 'delete-btn btn btn-dark mt-2 float-right', data: { confirm: "¿Deseas eliminar la imágen?" } do %>
                      <i class='fas fa-times'></i>
                    <% end %>
                    <%= element.video.html_safe %>
                  <% else %>
                    <%= form_with(model: [@course, @modul, @lesson, @section, element]) do |form| %>
                      <%= form.text_area :video %>
                      <div class="mt-3">
                        <%= form.submit "Guardar", class: 'btn btn-primary' %>
                        <a href="#" class='cancel btn btn-secondary'>Cancelar</a>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>