<h1><%= @section.title %></h1>
<%= link_to 'Editar clase', edit_course_modul_lesson_section_path(@course, @modul, @lesson, @section) %>
<%= link_to course_modul_lesson_section_path(@course, @modul, @lesson, @section),  method: :delete, data: { confirm: "¿Estás seguro que quieres eliminar la clase #{@section.title}?"}, class: "delete-course" do %>
  <i class="fas fa-trash-alt"></i> Eliminar clase
<% end %>

<%= @section.description  %>

<%== @section.text %>