<header class="banner home-page">
  <div class="max-1200">
    <div class="header-text">
      <h1>No te pierdas todo lo que el mar puede ofrecerte</h1>
      <p>En Atar Cabos queremos que el P.E.R. deje de ser un lujo, sácate el teórico de manera sencilla</p>
    </div>
  </div>
</header>
<section class="historical-metrics">
  <div class="historical-metrics-content max-1200">
    <div class="row">
      <div class="col-4">
          <p class="historical-metrics-number">+600</p>
          <p class="historical-metrics-text">Vídeos</p>
      </div>
      <div class="col-4">
        <p class="historical-metrics-number">+140</p>
        <p class="historical-metrics-text">Exámenes</p>
      </div>
      <div class="col-4">
        <p class="historical-metrics-number">+300</p>
        <p class="historical-metrics-text">Ejercicios</p>
      </div>
  </div>
</section>
<section class="our-methodology max-1200">
  <h2>Nuestra metodología</h2>
  <p>Un poco cada día = ser P.E.R ya no será una fantasía</p>
  <div class="row">
    <div class="col-12 col-md-3">
      <div class="our-methodology-content">
        <%= image_tag('icons/movie-icon.svg', size: "60x60", alt: "Icono de cámara de vídeo", class: "mb-2")  %>
        <h4>Vídeos de 5 minutos</h4>
        <p>Sabemos que te distraes fácilmente, así que hemos preparado vídeos de 5 minutos para que entiendas los conceptos de navegación sin despistarte.</p>
      </div>
    </div>
    <div class="col d-flex align-items-center justify-content-center"><i class="fas fa-plus"></i></div>
    <div class="col-12 col-md-4">
      <div class="our-methodology-content">
        <%= image_tag('icons/calendar-icon.svg', size: "60x60", alt: "Icono de calendario", class: "mb-2") %>
        <h4>Un test diferente cada día</h4>
        <p>Hemos diseñado una nueva metodología donde personalizamos tu test diariamente, adaptándolo a lo que has aprendido hasta ese día. Así, cada día tendrás un test diferente, de conceptos nuevos + todos los temas que ya has estudiado.</p>
      </div>
    </div>
    <div class="col d-flex align-items-center justify-content-center"><i class="fas fa-plus"></i></div>
    <div class="col-12 col-md-3">
      <div class="our-methodology-content">
        <%= image_tag('icons/exam-icon.svg', size: "60x60", alt: "Icono de examen test", class: "mb-2") %>
        <h4>Exámenes reales</h4>
        <p>Exámenes oficiales ordenados por Comunidades Autónomas, que puedes rellenar y corregir online.</p>
      </div>
    </div>
  </div>
</section>
<section class="our-courses max-1200">
  <h2>Nuestros cursos</h2>
  <div class="row our-courses-content">
    <% @courses.each do |course| %>
      <div class="col-12 col-md-6 col-lg-4 mt-4">
        <div class="course-card">
          <div class="header-image" style="background-image: url(<%= rails_blob_url(course.image) %>)">
            <p class="course-price"><%= course.price.to_i %>€</p>
            <p class="course-title"><%= course.abbreviation %></p>
          </div>
          <div class="body-card">
            <h3><%= course.title %></h3>
            <p><i class="fas fa-ship"></i> Hasta 8 metros de eslora</p>
            <p> Motos náuticas</p>
            <p><i class="fas fa-ruler"></i> Hasta 5 millas de puerto</p>
            <button type="button" class="btn btn-primary"><%= link_to  "Saber más", course_path(course) %></button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="pass-garantee">
    <div class="pass-garantee-content">
      <div class="d-flex align-items-center">
        <%= image_tag('icons/diploma.svg', size: "100x100", alt: "Icono de diploma", class: "mr-3") %>
        <div>
          <p class="pass-garantee-header">Garantía de aprobado de Atar Cabos</p>
          <p class="pass-garantee-description">Los cursos de Atar Cabos incluyen una garantía de aprobado. Si no apruebas a la primera, Atar Cabos te regala el siguiente curso.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="our-students-say">
  <div class="max-1200">
    <div class="our-students-say-header">
      <%= image_tag "icons/quote_mark.svg", :alt => "Comillas" %>
      <h2>Qué opinan nuestros usuarios</h2>
    </div>
    <div class="row scrolling-wrapper-md">
      <div class="col-10 col-md-6 col-lg-4">
        <div class="opinion-card">
          <%= image_tag "icons/quote_mark.svg", size: "30x30", :alt => "Exam", :class => "comment-icon" %>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, sit necessitatibus. Quidem saepe beatae commodi aspernatur deleniti, quam veniam blanditiis fugit doloremque, sequi autem reprehenderit asperiores iste culpa laboriosam qui!</p>
          <div class="person-opinion">
            <%= image_tag "opinion/user.png" %>
          </div>
        </div>
      </div>
      <div class="col-10 col-md-6 col-lg-4">
        <div class="opinion-card">
          <%= image_tag "icons/quote_mark.svg", size: "30x30", :alt => "Exam", :class => "comment-icon" %>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, sit necessitatibus. Quidem saepe beatae commodi aspernatur deleniti, quam veniam blanditiis fugit doloremque, sequi autem reprehenderit asperiores iste culpa laboriosam qui!</p>
          <div class="person-opinion">
            <%= image_tag "opinion/user.png" %>
          </div>
        </div>
      </div>
      <div class="col-10 col-md-6 col-lg-4">
        <div class="opinion-card">
          <%= image_tag "icons/quote_mark.svg", size: "30x30", :alt => "Exam", :class => "comment-icon" %>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, sit necessitatibus. Quidem saepe beatae commodi aspernatur deleniti, quam veniam blanditiis fugit doloremque, sequi autem reprehenderit asperiores iste culpa laboriosam qui!</p>
          <div class="person-opinion">
            <%= image_tag "opinion/user.png" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="why-our-method">
  <div class="max-1200">
    <div class="row align-items-center">
      <div class="why-our-method-image col-12 col-md-6 order-12 order-lg-1">
        <%= image_tag "backgrounds_images/procrastinating_monkey.jpg" %>
      </div>
      <div class="why-our-method-content col-12 col-md-6 order-1 order-lg-12">
        <h2>¿Por qué 30 minutos al día?</h2>
        <p>Sabemos lo fácil que es despistarse, y más cuando estudias online. Por ello, sólo te pedimos 30 minutos de concentración al día:</p>
        <ul>
          <li>Vamos directos al grano</li>
          <li>Garantizamos un máximo rendimiento</li>
        </ul>
        <p>A nuestros 30 minutos les llamamos el <strong>culmen de la productividad.</strong></p>
      </div>
    </div>
  </div>
</section>
<section class="faq-section mb-5">
  <div class="max-1200">
    <h2 class="text-center">¿Dudas?</h2>
    <div class="faq-section-accordion-wrapper">
      <div class="faq-accordion">
        <div class="faq-accordion-item-border">
          <div class="question">
            <a data-toggle="collapse" href="#question1" role="button" aria-expanded="false" aria-controls="question1">¿Cuándo puedo recoger mi título?</a>
          </div>
          <div class="answare collapse" id="question1">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem in voluptate, deserunt, exercitationem tenetur ipsa mollitia nostrum porro dolor natus velit, veniam provident soluta excepturi quasi placeat. Mollitia, ab necessitatibus.</p>
          </div>
        </div>
        <div class="faq-accordion-item-border">
          <div class="question">
            <a data-toggle="collapse" href="#question2" role="button" aria-expanded="false" aria-controls="question2">¿Cuándo puedo recoger mi título?</a>
          </div>
          <div class="answare collapse" id="question2">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem in voluptate, deserunt, exercitationem tenetur ipsa mollitia nostrum porro dolor natus velit, veniam provident soluta excepturi quasi placeat. Mollitia, ab necessitatibus.</p>
          </div>
        </div>
        <div class="faq-accordion-item-border">
          <div class="question">
            <a data-toggle="collapse" href="#question3" role="button" aria-expanded="false" aria-controls="question3">¿Cuándo puedo recoger mi título?</a>
          </div>
          <div class="answare collapse" id="question3">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem in voluptate, deserunt, exercitationem tenetur ipsa mollitia nostrum porro dolor natus velit, veniam provident soluta excepturi quasi placeat. Mollitia, ab necessitatibus.</p>
          </div>
        </div>
        <div class="faq-accordion-item">
          <div class="question">
            <a data-toggle="collapse" href="#question4" role="button" aria-expanded="false" aria-controls="question4">¿Cuándo puedo recoger mi título?</a>
          </div>
          <div class="answare collapse" id="question4">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem in voluptate, deserunt, exercitationem tenetur ipsa mollitia nostrum porro dolor natus velit, veniam provident soluta excepturi quasi placeat. Mollitia, ab necessitatibus.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="work-with-us">
  <h2>Trabaja con nosotros</h2>
  <h3>¿Eres una escuela náutica que ofrece prácticas de P.E.R?</h3>
  <p>Estás son alguna de las cosas que te ofrecemos:</p>
  <div class="work-with-us-points">
    <ul>
      <li>Una mejor experiencia a tus clientes</li>
      <li>Fácil gestión de alumnos</li>
      <li>Calendario de reserva</li>
    </ul>
  </div>
  <button type="button" class="btn btn-primary"><a href="#">Quiero saber más</a></button>
</section>
  