<h1><%= @course.title %></h1>
<%= link_to "Editar curso", edit_course_path(@course) %>
<%= link_to course_path(@course),  method: :delete, data: { confirm: "¿Estás seguro que quieres eliminar el curso #{@course.title}"}, class: "delete-course" do %>
  <i class="fas fa-trash-alt"></i> Eliminar curso
<% end %>

<% if teacher_signed_in? %>
  <button class="btn btn-primary"><%= link_to "Crear nuevo módulo", new_course_modul_path %></button>
<% end %>

<% @moduls.each do |modul| %>
  <h2><%= modul.order %> - <%= modul.title %></h2> 
  <%= link_to "Cambiar", edit_course_modul_path(@course, modul) %>
  <%= link_to course_modul_path(@course, modul), method: :delete, data: { confirm: "Estás seguro que quieres eliminar el módulo #{modul.title}"}, class: "delete-modul" do %>
    <i class="fas fa-trash-alt"></i> Eliminar módulo
  <% end %>

  <%= render 'form_lessons', modul: modul %>
  
  <a href="<%= modul.download_document %>" target="_blank">
    <%= image_tag "icons/download_document.png" %>
  </a>
  <% modul.lessons.each do |lesson| %>
    <%= link_to course_modul_lesson_path(@course, modul, lesson) do %>
      <h4><%= lesson.title %></h4>
    <% end %>
  <% end %>
<% end %>